<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>ユーザ一覧</title>
    <style>
        table,tr,td{
          border: 1px solid lightgray;
        }

    </style>
</head>
<body>
<h1>ユーザ一覧</h1>
<table>
    <thead>
    <tr>
        <td>SEQ</td>
        <td>USER_ID</td>
        <td>PASSWORD</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="dataaccess : ${access}" th:object="${dataaccess}">
        <td th:text="*{user_seq}">seq</td>
        <td th:text="*{user_id}">user_id</td>
        <td th:text="*{sha_pass}">password</td>
    </tr>
    </tbody>
</table>
</body>
</html>